body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn-space {
  margin-right: 5px;
  white-space: normal;
}

.navbar {
  font-family: "Georgia", Times New Roman, Times, serif !important;
  font-weight: bold;
  font-style: italic;

}
h1 {
  font-family: "Georgia", Times New Roman, Times, serif !important;
  font-weight: bold;
  font-style: italic;

}

.confetti-wrap {
  background: white;
  padding: 20px;
}

.confetti-wrap h3 {
  margin: 0;
  color: #fff;
  letter-spacing: 1.5px;
}
